kind: pipeline
name: gin-proc

clone:
  disable: true

steps:
- name: restore-cache
  image: drillster/drone-volume-cache
  volumes:
  - name: cache
    path: /cache
  settings:
    restore: true
    mount:
      # Workspace volume you want to cache
      - /drone/src/.snakemake

- name: prepare
  image: falconshock/gin-proc
  environment:
    SSH_KEY:
      from_secret: DRONE_PRIVATE_SSH_KEY  
  commands:
    # "[+] Starting SSH Agent"
    - eval $(ssh-agent -s)
    
    # "[+] Installing SSH Keys"
    - mkdir /root/.ssh && echo "$SSH_KEY" > /root/.ssh/id_rsa && chmod 0600 /root/.ssh/id_rsa
    - echo "StrictHostKeyChecking no" >> /etc/ssh/ssh_config
    #- ssh-keyscan -H "$DRONE_SYSTEM_HOST" >> /root/.ssh/known_hosts
    - ssh-add /root/.ssh/id_rsa
    #- ssh -Tv git@"$DRONE_SYSTEM_HOST" -p 22 -i /root/.ssh/id_rsa
    
    # "[+] Cloning Repository."
    - git clone "$DRONE_GIT_SSH_URL"
    - cd "$DRONE_REPO_NAME"/

    - pip3 install snakemake
    - pip3 install -r requirements.txt
    - git annex init ""$DRONE_REPO_NAME"-drone-annexe"
    
    #get-annexed-files

    #- git annex get genome

    #- pip3 install -r requirements.txt

    # "Executing Snakemake workflow."
    - snakemake
    #- mv .snakemake/ ../

    - echo ".snakemake/" > .gitignore

    # "[+] Back-Pushing output."
    - TMPLOC=`mktemp -d`

    #add-backpush-files

    #- mv Sample1.txt "$TMPLOC"
    - git checkout gin-proc || git checkout -b gin-proc
    - git reset --hard gin-proc
    - mkdir "$DRONE_BUILD_NUMBER"

    #copy-backpush-files

    #- mv "$TMPLOC"/Sample1.txt "$DRONE_BUILD_NUMBER"/
    - git add "$DRONE_BUILD_NUMBER"/
    - git commit "$DRONE_BUILD_NUMBER"/ -m "Adding output files"
    - git annex sync --content
    - git push origin gin-proc

- name: rebuild-cache
  image: drillster/drone-volume-cache
  volumes:
  - name: cache
    path: /cache
  settings:
    rebuild: true
    mount:
      # Workspace volume you want to retrieve cache from
      - /drone/src/.snakemake

volumes:
  - name: cache
    host: 
      # Mounted cache directory from your host machine
      path: /tmp/cache

#add-notifications

trigger:
  branch:
  - master
  event:
  - push
  status:
  - success
